{
    "data": {
        "elevation": 95,
        "external_url": null,
        "internal_url": null,
        "latitude": 41.67444646929382,
        "location_name": "Home",
        "longitude": 12.500947415828707,
        "time_zone": "Europe/Rome",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}